<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>

  <!-- Suppress DEBUG logging from specific packages -->
  <logger name="io.micronaut.context" level="ERROR"/>
  <logger name="io.netty.util.internal" level="ERROR"/>
  <logger name="io.vertx.core.logging" level="ERROR"/>
</configuration>
